.centred{
  width: 46%; /* the funny */
  margin: 0 auto;
}
#ALERT{
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#currency{
    width: 10.5%;
}
.slider-track::-moz-range-track {
	background-color: #a00;
}
.slider-track::-webkit-slider-runnable-track {
	background-color: #f00;
}

