.centred{
  width: 46%; /* the funny */
  margin: 0 auto;
}
#ALERT{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#currency{
    width: 10.5%;
}
.slider-track::-moz-range-track {
	background-color: #f00;
}
.slider-track::-webkit-slider-runnable-track {
	background-color: #f00;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f5f5f5; /* fallback color */
  background: linear-gradient(90deg, #e6e6e6 0%, #f2f2f2 50%, #e6e6e6 100%);
}
tbody,
td {
  border-style: unset;
}
table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
td {
  width: 25%;
  height: 100%;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}

.zoom {
  transition: transform 0.2s ease-in-out;
}
.zoom:hover {
  transform: scale(1.1);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow: auto;
}
.popup-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.popup-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}
.popup-close:hover {
  background-color: #f2f2f2;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  background-color: #fff;
  padding: 40px;
  display: flex; /* enable flexbox */
  flex-direction: row; /* set flex direction to row */
}

.popup-content img {
  max-width: 50%; /* set maximum width of image */
  margin-right: 20px; /* add margin to the right of the image */
}

.popup-text {
  flex-grow: 1; /* make the text take up remaining space */
}
.popup-divider {
  /* styles for the vertical divider */
  display: inline-block;
  border-left: 2px solid #ececec;
  margin-right: 20px;
}
.slider-track-blue::-moz-range-track {
	background-color: #5C3317;
}
.slider-track-blue::-webkit-slider-runnable-track {
	background-color: #5C3317;
}
.slider-track-gold::-moz-range-track {
	background-color: #CFB53B;
}
.slider-track-gold::-webkit-slider-runnable-track {
	background-color: #CFB53B;
}
.slider-track-green::-moz-range-track {
	background-color: #007F00;
}
.slider-track-green::-webkit-slider-runnable-track {
	background-color: #007F00;
}
