{% extends "layout.html" %}

{% block body %}
<script src="/static/js/converter.js"></script>
<div class="centred">
    <form method="post" class="input-group">
        <input autocomplete="off" autofocus name="sum" placeholder="Suma PLN w 2023" type="text">
        <input autocomplete="off" autofocus name="year" placeholder="Rok" type="number" value="1970">
        <button type="submit" class="btn btn-outline-success" id="PRZYCISK">Sprawdź</button>
        <p>&emsp;</p>
        <input type="range" class="form-range slider-track" min="0" max="2" id="currency" name="currency", oninput="updateValue(this)">
    </form>
    {% if calc > 0: %}
    <p>{{ info }}</p>
    {% endif %}
</div>

<div id="ALERT"></div> <!-- alerty js -->
{% if calc > 0: %}
<table class="table">
    <thead>
        <th>{{'Nominały' if currency != 2 else 'Produkty'}}</th>
        <th>Ilość</th>
    </thead>
    {% for image, count in nominals.items() %}
    <tr>
        <td scope="row"><img src="{{ image }}" alt="Example image" {% if '$' in info %} onclick="onDollar()" {% endif %}width="10%"></td>
        <td scope="row"> {{ count }}</td>
    </tr>
    {% endfor %}
</table>
{% else: %}
    <script type="text/javascript">
        converter();
    </script>
{% endif %}
{% endblock %}
