{% extends "layout.html" %}

{% block body %}

<div class="centred">
    <form method="post" class="input-group">
        <input autocomplete="off" autofocus name="sum" placeholder="Suma PLN w 2023" type="text">
        <input autocomplete="off" autofocus name="year" placeholder="Rok" type="number" value="1970">
        <button type="submit" class="btn btn-outline-success" id="PRZYCISK">Submit</button>
    </form>
</div>
<div id="ALERT"></div> <!-- alerty js -->
{% if calc > 0: %}
<p> W roku {{ year }} to: {{ calc }}zł</p>
<table class="table">
    <thead>
        <th>Nominały</th>
        <th>Ilość</th>
    </thead>
    {% for image, count in nominals.items() %}
    <tr>
        <td scope="row"><img src="{{ image }}" alt="Example image" width="10%"></td>
        <td scope="row"> {{ count }}</td>
    </tr>
    {% endfor %}
</table>
{% else: %}
    <script src="/static/js/converter.js"></script>
    <script type="text/javascript">
        converter();
    </script>
{% endif %}
{% endblock %}
