{% extends "layout.html" %}

{% block body %}

<img src="{{ url_for('static', filename='img/banner.jpg') }}" class="img-fluid">
<div class="text-center">
    <img src="{{ url_for('static', filename='img/title.png') }}" class="img-fluid">
</div>
<div class="text-center">
    <div class="p-4">
        <div class="row flex-nowrap">
            <div class="col-4 p-1">
                <a href="/converter" class="mainscreen"><p>Przelicznik Walut</p></a>
            </div>
            <div class="col-4 p-1">
                <a href="/mapa" class="mainscreen"><p>Mapa Gdyni</p></a>
            </div>
            <div class="col-4 p-1">
                <a href="/moda" class="mainscreen"><p>Moda</p></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
