{% extends "layout.html" %}

{% block body %}

<!-- Temporary, we need to move it to an external file -->
<style>
a {
    color: #910000;
    text-decoration: none;
}

</style>
<img src="{{ url_for('static', filename='banner.jpg') }}" class="img-fluid">
<div class="text-center">
    <img src="{{ url_for('static', filename='title.png') }}" class="img-fluid">
</div>
<div class="text-center">
    <div class="p-4">
        <div class="row flex-nowrap">
            <div class="col-4 p-1">
                <a href="/converter">Przelicznik Walut</a>
            </div>
            <div class="col-4 p-1">
                <a href="/mapa">Mapa Gdyni</a>
            </div>
            <div class="col-4 p-1">
                <a href="/moda">Moda</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
