{% extends "layout.html" %}

{% block body %}

<table class="table table-striped">
    <th>
        <form action="/" method="GET">
            <button type="submit" class="btn">
                <i class="fas fa-chevron-left"></i>
            </button>
            Zobacz modę lat 70.!
        </form>
    </th>
    <tr>
        <td class="modatd">
            <a href="#" class="popup-link">
                <img src="{{ url_for('static', filename='img/barbarahoff.png') }}" class="img-fluid zoom pafy" alt="Barbara Hoff była absolwentką historii sztuki na Uniwerystecie Jagiellońskim. Pracowała dla modowego tygodnika Mariana Eile – „Przekrój”. Została także autorką kostiumów do filmów Andrzeja Wajdy i Jerzego Kawalerowicza. Jej projekty były na tyle popularne, że dochodziło do awantur, które musiały się kończyć interwencją milicji. Na zdjęciu widać Lucynę Witkowską w sukience z przełomowej kolekcji autorki, która obejmowała 10 tys. sztruksowych sukienek, wyprodukowanych przez Warszawskie Zakłady Przemysłu Odzieżowego „Cora”." usemap="#map1">
                <map name="map1">
                </map>
            </a>
        </td>
        <td class="modatd">
            <a href="#" class="popup-link">
                <img src="{{ url_for('static', filename='img/hippie.png') }}" class="img-fluid zoom pafy" alt="Na przełomie lat 60 i 70 widać było inspirację modą zagraniczną. Popularne stały się dżinsy, koszule w kwiaty, dzwony, podarte spodnie i rozpuszczone włosy. Wszystko co było związane z „The Beatles”, „The Rolling Stones” oraz hippisami, stawało się hitem. Władza zaleciła zakładom odzieżowym produkcję ubrań z aktualnych trendów modowych, jednak te rodzime, produkowane w „Odrze” czy „Danie”, były zdecydowanie gorszej jakości niż te zagraniczne." usemap="#map2">
                <map name="map2">
                </map>
            </a>
        </td>
        <td class="modatd">
            <a href="#" class="popup-link">
                <img src="{{ url_for('static', filename='img/kostiumlenin.png') }}" class="img-fluid zoom pafy" alt="
Jest to projekt z pierwszej kolekcji absolwentki ASP – Grażyny Hase. Kozak Look – bo tak się nazywała - nieprzypadkowo została przedstawiona w 50. rocznicę wybuchu rewolucji październikowej. Cała kolekcja inspirowana była sowiecką estetyką. Pojawiły się ubrania nawiązujące do stylu szat córek cara, literatury Lwa Tołstoja, a także kina Siergieja Eisensteina. Na zdjęciu widać kostium „Lenin”. Nazwanie go imieniem rosyjskiego dyktatora było jednak bardzo ryzykowne. Sympatycy PZPR mogli to zinterpretować jako drwiny, a krytycy władzy jako okazanie poparcia dla obecnej polityki." usemap="#map3">
                <map name="map3">
                </map>
            </a>
        </td>
        <td class="modatd">
            <a href="#" class="popup-link">
                <img src="{{ url_for('static', filename='img/plaszczortalionowy.png') }}"
                class="img-fluid zoom pafy" alt="W latach 60. zapanowała moda na ortalion. Płaszcze ortalionowe szybko zostały hitem wśród mężczyzn. Przede wszystkim dzięki Zbigniewowi Cybulskiemu. Powiadano, że każdy elegancki mężczyzna powinien mieć taki w szafie. Ze względu na swoją wodoodporność, noszono je zarówno w trakcie deszczu, ale także w trakcie słonecznych dni. Szczególnie popularne były w kolorze granatowym, zielonym lub brązowym. Pod spodem często widoczne były paski, podkładki pod kołnierz oraz patki na ramionach." usemap="#map4">
                <map name="map4">
                </map>
            </a>
        </td>
    </tr>
</table>
<div class="popup">
    <div class="popup-content">
        <button type="button" class="btn-close popup-close" aria-label="Close"></button>
        <img src="" class="popup-image" max_width="25%">
        <div class="popup-divider"></div>
        <p class="popup-text" style="text-align: justify;"></p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/popup.js') }}"></script>
{% endblock %}
